#quiz-container {
    position: relative;
    height: auto;
    padding-bottom: 1rem;
    clear: left;
}

#quiz-container .qquestion>h2 {
    color: #0047f5;
    font-family: regular, montserrat, sans-serif;
    font-size: 2.05rem;
    font-weight: 600;
    line-height: 1.39;
    margin: 1.5rem 0 1.5rem;
}

#quiz-container .qquestion>ul {
    list-style-position: outside;
    background-color: white;
    padding: 1rem 0.5rem;
    border-top: 1px solid #e1e1e1;
    border-width: 1px;
}

.qquestion,
.qfeedback,
.qresults {
    display: none;
    position: relative;
    padding-bottom: 10px;
}

#q1 {
    display: block;
}

.qquestion,
.qresults {
    min-height: 350px;
}

ul li.qanswer {
    margin-bottom: 6px;
}

#content .qquestion ul li {
    list-style-type: none;
}

.qquestion p.correct {
    border-left: #42bfc7 10px solid;
}

.qquestion p.incorrect {
    border-left: #f44336 10px solid;
}


/* feedback styles */

.qfeedback {
    background-repeat: no-repeat;
}

p.qfeedback {
    padding-left: 1rem;
}

.quizlink {
    font-size: 18px;
    color: #003f66;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.qresults {
    color: #003f66;
    font-size: 1.3em;
    font-weight: bold;
}

.qresponse,
.answer-value,
.response-value {
    display: none;
}

.error {
    background-color: transparent;
    font-size: 20px;
    color: rgb(250, 248, 248);
    border-radius: 35px;
    font-weight: normal;
    position: absolute;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
}


/* buttons  */

#quiz-container button {
    /* position: absolute; */
    margin-top: 0.8rem;
}

.qnext,
.start-over {
    right: 0
}

hr {
    color: #538cc6;
    height: 2px;
    border: 0;
    clear: both;
}