#hp-tabs button:focus {
  outline: 0;
  background-color: transparent
}
#hp-tabs #get-help-with-psychology .tab-content li:last-child a {
  background: linear-gradient(transparent calc(100% - 5rem),rgba(0,2,20,.7) calc(100% - 5rem)),url("/assets/kursy1.webp") 100% center/cover no-repeat #1d2221;
  background-position-x: 30%
}
#hp-tabs #step-by-step .tab-content li:last-child a {
  background: linear-gradient(transparent calc(100% - 5rem),rgba(0,2,20,.7) calc(100% - 5rem)),url("/assets/GettyImages-1224542448_454622.webp") 100% center/cover no-repeat #44484c
}
#hp-tabs #calculators-for-live .tab-content li:last-child a {
  background: linear-gradient(transparent calc(100% - 5rem),rgba(0,2,20,.7) calc(100% - 5rem)),url("/assets/calculator2.webp") 100% center/cover no-repeat #ade8f6;
  background-position-x: 30%
}
#hp-tabs #video-resources .tab-content li:last-child a {
  background: linear-gradient(transparent calc(100% - 5rem),rgba(0,2,20,.7) calc(100% - 5rem)),url("/assets/Media.webp") 100% center/cover no-repeat #8f7a79
}
#hp-tabs #tests-resources .tab-content li:last-child a {
  background: linear-gradient(transparent calc(100% - 5rem),rgba(0,2,20,.7) calc(100% - 5rem)),url("/assets/currency.webp") 100% center/cover no-repeat #ecedf1;
  background-position-x: 30%
}
#hp-tabs:not(.no-filter) #tabs-list>li.active .icon-container:after,#hp-tabs:not(.no-filter) #tabs-list>li:not(.active) button:focus .icon-container:after,#hp-tabs:not(.no-filter) #tabs-list>li:not(.active) button:hover .icon-container:after {
  background-color: #42bfc7;
  opacity: .25
}
#hp-tabs:not(.no-filter) #tabs-list>li.active .icon-container,#hp-tabs:not(.no-filter) #tabs-list>li:not(.active) button:focus .icon-container,#hp-tabs:not(.no-filter) #tabs-list>li:not(.active) button:hover .icon-container {
  color: #42bfc7;
  opacity: .7
}
#hp-tabs ul#tabs-list>li button:focus,#hp-tabs ul#tabs-list>li button:hover,#hp-tabs ul#tabs-list>li.active button {
  color: #222
}
#hp-tabs ul#tabs-list>li.active button .icon-container {
  filter: grayscale(0%)!important
}
#hp-tabs ul#tabs-list>li.active button:after {
  content: '\2013'
}
#hp-tabs ul#tabs-list>li button:focus .icon-container,#hp-tabs ul#tabs-list>li button:hover .icon-container {
  filter: grayscale(0%)
}
@media (hover: none) {
  #hp-tabs ul#tabs-list>li button:focus .icon-container,#hp-tabs ul#tabs-list>li button:hover .icon-container {
      filter:grayscale(100%)
  }
}
#hp-tabs ul#tabs-list>li button:focus .icon-container {
  filter: brightness(.5)
}
#hp-tabs ul.tab-content li {
  width: calc(100% - 2rem);
  margin: .5rem 1rem 0;
  font-size: 1.34rem;
  line-height: 1.34rem
}
#hp-tabs ul.tab-content li:first-child {
  margin-top: 2rem
}
#hp-tabs ul.tab-content li:nth-last-child(2) {
  margin-bottom: .5rem
}
#hp-tabs ul.tab-content li:not(:last-child) {
  order: 1
}
#hp-tabs ul.tab-content li:not(:last-child) a {
  background: rgba(255,255,255,.25);
  width: calc(100% - 6rem);
  display: flex;
  flex-wrap: wrap;
  align-content: center
}
#hp-tabs ul.tab-content li:not(:last-child) a:focus,#hp-tabs ul.tab-content li:not(:last-child) a:hover {
  color: #0047f5;
  background-color: #fff
}
#hp-tabs ul.tab-content li:not(:last-child) a:hover span {
  color: #666
}
#hp-tabs ul.tab-content li:last-child {
  order: 2;
  height: 60vw;
  background-color: transparent;
  margin-top: .5rem;
  margin-bottom: 2rem
}
#hp-tabs ul.tab-content li:last-child a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: .25rem
}
#hp-tabs ul.tab-content li:last-child a.arrow:after {
  top: auto;
  bottom: 1.75rem
}
#hp-tabs ul.tab-content li:last-child a span {
  padding-bottom: 1.1rem
}
#hp-tabs ul.tab-content li:last-child a:hover span {
  color: #fff
}
#hp-tabs ul.tab-content li:last-child a:focus {
  outline-color: #fff
}
#hp-tabs ul.tab-content li a {
  color: #fff;
  position: relative;
  text-decoration: none;
  border-radius: .25rem;
  padding: 1.1rem 4.9rem 1.1rem 1.1rem
}
#hp-tabs ul.tab-content li a.arrow:after {
  position: absolute;
  width: 2.7rem;
  height: 1.5rem;
  background-color: rgba(255,255,255,.25);
  color: #fff;
  right: 1.1rem;
  top: calc(50% - .75rem);
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='9' viewBox='0 0 24 9'%3E %3Cdefs%3E %3CclipPath id='clip-path'%3E %3Cpath id='Path_32' data-name='Path 32' d='M664.854-460.853a.5.5,0,0,0-.707,0,.5.5,0,0,0,0,.707L667.293-457H645.5a.5.5,0,0,0-.5.5.5.5,0,0,0,.5.5h21.793l-3.146,3.146a.5.5,0,0,0,0,.707.5.5,0,0,0,.353.147.5.5,0,0,0,.354-.147l4-4a.5.5,0,0,0,0-.707Z' fill='none' clip-rule='evenodd'/%3E %3C/clipPath%3E %3CclipPath id='clip-path-2'%3E %3Cpath id='Path_31' data-name='Path 31' d='M645-452h24v-9H645Z' fill='none'/%3E %3C/clipPath%3E %3CclipPath id='clip-path-3'%3E %3Crect id='Rectangle_12' data-name='Rectangle 12' width='35' height='20' transform='translate(640 -466)' fill='none'/%3E %3C/clipPath%3E %3CclipPath id='clip-path-5'%3E %3Cpath id='Path_30' data-name='Path 30' d='M645-461h24v9H645Z' fill='none' clip-rule='evenodd'/%3E %3C/clipPath%3E %3C/defs%3E %3Cg id='Group_44' data-name='Group 44' transform='translate(-645 461)' clip-path='url(%23clip-path)'%3E %3Cg id='Group_43' data-name='Group 43' clip-path='url(%23clip-path-2)'%3E %3Cg id='Group_42' data-name='Group 42' clip-path='url(%23clip-path-3)'%3E %3Cg id='Group_39' data-name='Group 39' clip-path='url(%23clip-path-2)'%3E %3Cpath id='Path_26' data-name='Path 26' d='M640-466h34v19H640Z' fill='%23fff'/%3E %3C/g%3E %3Cg id='Group_41' data-name='Group 41' clip-path='url(%23clip-path-5)'%3E %3Cg id='Group_40' data-name='Group 40' clip-path='url(%23clip-path-2)'%3E %3Cpath id='Path_28' data-name='Path 28' d='M640-466h34v19H640Z' fill='%23fff'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  border-radius: 1rem
}
#hp-tabs ul.tab-content li a.arrow:focus:after,#hp-tabs ul.tab-content li a.arrow:hover:after {
  background-color: #42bfc7
}
#hp-tabs ul.tab-content li a span {
  display: block;
  width: 100%;
  font-size: .94rem;
  font-weight: 400;
  margin-top: .3rem
}
#hp-tabs ul#tabs-list>li.active>ul.tab-content {
  display: flex
}
@media screen and (min-width: 60rem) {
  #hp-tabs {
      margin-bottom:31rem
  }
  #hp-tabs ul#tabs-list {
      width: calc(100% - 4rem);
      max-width: 76.7rem;
      justify-content: center;
      padding: 0 2rem;
      flex-wrap: nowrap
  }
  #hp-tabs ul#tabs-list>li {
      padding: 6.25rem 0;
      border-bottom: none
  }
  #hp-tabs ul#tabs-list>li button {
      display: block;
      padding: 0;
      overflow: visible
  }
  #hp-tabs ul#tabs-list>li button .icon-container {
      display: block;
      margin-right: 0;
      width: 100%;
      height: 7rem;
      opacity: .5;
      line-height: 1.4;
      position: relative
  }
  #hp-tabs ul#tabs-list>li button .icon-container .material-icons {
      font-size: 78px
  }
  #hp-tabs ul#tabs-list>li button .icon-container:hover {
      animation-name: example;
      animation-duration: .3s;
      animation-fill-mode: forwards
  }
  @keyframes example {
      from {
          top: 0
      }
      to {
          top: -5px
      }
  }
  #hp-tabs ul#tabs-list>li button .tab-text {
      padding-top: 1rem;
      display: inline-block;
      max-width: 12ch
  }
  #hp-tabs ul#tabs-list>li button:after,#hp-tabs ul#tabs-list>li.active button::after {
      display: none
  }
  #hp-tabs ul#tabs-list>li ul.tab-content {
      position: absolute;
      left: 0;
      width: 100%;
      margin: 2rem 0;
      padding: 4rem 0;
      display: none
  }
  #hp-tabs ul#tabs-list>li.active>ul.tab-content {
      height: 27rem
  }
  #hp-tabs ul#tabs-list>li ul.tab-content li:not(:last-child) {
      margin: 0 .75rem .5rem 2.5rem;
      width: calc(50% - 3.25rem);
      display: flex;
      justify-content: flex-end
  }
  #hp-tabs ul#tabs-list>li ul.tab-content li {
      display: list-item;
      height: 4.9rem;
      width: 50%
  }
  #hp-tabs ul#tabs-list>li ul.tab-content li a {
      max-width: 31.85rem;
      padding-top: 0;
      padding-bottom: 0
  }
  #hp-tabs ul#tabs-list>li ul.tab-content li:not(:last-child) a {
      font-size: 1.34rem;
      width: 100%
  }
  #hp-tabs ul#tabs-list>li ul.tab-content li a span {
      line-height: .9rem
  }
  #hp-tabs ul#tabs-list>li ul.tab-content li:last-child {
      height: 98%;
      background-color: transparent;
      margin: 0 2.5rem 0 .75rem;
      width: calc(50% - 3.25rem)
  }
  #hp-tabs #get-help-with-psychology .tab-content li:last-child a {
      background: linear-gradient(transparent calc(100% - 5rem),rgba(0,2,20,.7) calc(100% - 5rem)),url("/assets/kursy1.webp") 100% center/cover no-repeat #1d2221;
      background-position-x: 30%
  }
}
@media (max-width: 30rem) {
  #hp-tabs ul#tabs-list ul.tab-content li:last-child a span {
      display:none
  }
  #hp-tabs ul#tabs-list ul.tab-content li:last-child a {
      height: calc(100% - 2.5rem);
      padding: 1.25rem 1.25rem 1.9rem
  }
}
@media (max-width: 26rem) {
  #hp-tabs ul#tabs-list ul.tab-content li:not(:last-child) a {
      padding-right:1.1rem;
      width: calc(100% - 2.2rem);
      display: block
  }
  #hp-tabs ul#tabs-list ul.tab-content li:last-child a.arrow:after,#hp-tabs ul#tabs-list ul.tab-content li:not(:last-child) a.arrow:after {
      display: none
  }
  #hp-tabs ul#tabs-list ul.tab-content li:last-child a {
      height: calc(100% - 2.5rem);
      padding: 1.25rem .5rem
  }
  #hp-tabs #get-help-with-psychology .tab-content li:last-child a {
      background: linear-gradient(transparent calc(100% - 3.5rem),rgba(0,2,20,.7) calc(100% - 3.5rem)),url("/assets/kursy1.webp") 100% center/cover no-repeat;
      background-position-x: 30%
  }
  #hp-tabs #step-by-step .tab-content li:last-child a {
      background: linear-gradient(transparent calc(100% - 3.5rem),rgba(0,2,20,.7) calc(100% - 3.5rem)),url("/assets/GettyImages-1224542448_454622.webp") 100% center/cover no-repeat
  }
  #hp-tabs #calculators-for-live .tab-content li:last-child a {
      background: linear-gradient(transparent calc(100% - 3.5rem),rgba(0,2,20,.7) calc(100% - 3.5rem)),url("/assets/calculator2.webp") 100% center/cover no-repeat;
      background-position-x: 30%
  }
  #hp-tabs #video-resources .tab-content li:last-child a {
      background: linear-gradient(transparent calc(100% - 3.5rem),rgba(0,2,20,.7) calc(100% - 3.5rem)),url("/assets/Media.webp") 100% center/cover no-repeat
  }
  #hp-tabs #tests-resources .tab-content li:last-child a {
      background: linear-gradient(transparent calc(100% - 4rem),rgba(0,2,20,.7) calc(100% - 4rem)),url("/assets/currency.webp") 100% center/cover no-repeat;
      background-position-x: 30%
  }
}
